.navbar-brand{
    flex-grow: 1;
}

.navbar-collapse{
    flex-grow: 0;
}

.header-1{
    background-color: #f56262;
}

.nav-link{
    color: #fff!important;
    font-weight: bold;
    margin-left: 10px!important;
}

.nav-link:hover{
    cursor: pointer;
    background-color: #000;
    border-radius: 5px;
}

.d-block{
    width: 90%!important;
    margin: 0 auto;
}

h1,p{
    text-align: center;
}

.pt{
    padding: 50px 0;
    color: #fff;
    text-align: center;
}

.header-2{
    background-color: #eb4f4e;
}

.full-w-1{
    background-color: #232324;
    color: #fff;
}

.full-w-1 > p{
    color: #783535;
    font-size: 1.3rem;
}

.creative-item{
    text-align: center!important;
}